{% extends 'base.html' %}

{% block head %}
    <title>Create section</title>
{% endblock %}

{% block body %}
    <h1>Qui puoi creare la tua attività</h1>
    <hr>
    <p>Ciao {{ user.user_username|capitalize }}</p>
    <hr>

    <div class="container">
        <div class="content-box">
          <form method="POST" enctype="multipart/form-data">
            <label for="name">Nome progetto:</label>
            <input type="text" name="name" placeholder="Inserisci il nome del progetto" required>
            
            <label for="category">Categoria:</label>
            <input type="text" name="category" placeholder="Inserisci la categoria" required>
            
            <label for="description">Descrizione:</label>
            <input type="text" name="description" placeholder="Inserisci una descrizione" required>
            
            <label for="immagine">Immagine del progetto:</label>
            <input type="file" name="immagine" accept="image/*">
            
            <button type="submit">Crea</button>

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          </form>
        </div>
    </div>
{% endblock %}